*{
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}
body{
    background: #fff;
}

.header{
    padding-left: 375px;
    padding-right: 375px;
    padding-top: 40px;
    display: flex;
    justify-content: center;
    display: flex;
    justify-content: space-between;
}
.links{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.header_link{
    font-family: "Gilroy-SemiBold", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #f25822;
   
}
.top_content{
    padding-right: 365px;
    padding-left: 365px;
    padding-top: 84px;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;  
    gap: 47px; 
    padding-bottom: 162px; 
}
.top_info{
    width: 522px;
}
.title{
    
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 60px;
    color: #000;
}

.text{
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 20px;
    color: #888;
}

.button{
    border-radius: 50px;
    width: 140px;
    height: 50px;
    box-shadow: 4px 4px 8px 0 rgba(242, 88, 34, 0.2);
    background: #f25822;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 15px;
    color: #fff;
}

.top_logos{
    display: flex;
    justify-content: center;
    gap: 48px;
    padding-top: 97px;
}

.features{
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    gap: 60px;
}

.center{
    padding-left: calc(50% - 573px);
    padding-right: calc(50% - 573px);
 }

 .background{
    box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
    background: #fff;
    padding-top: 40px;
    padding-bottom: 25px;
    padding-left: 30px;
 }

 .fuatures{
    background: #fff;
 }
 .feature_title{
    padding-top: 25px;
    font-weight: 400;
    font-size: 24px;
    color: #000;
    
 }

 .feature_text{
    padding-top: 17px;
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
    color: #666;
    text-wrap: balance;
   
 }

.feature_button{
    padding-top: 25px;
    font-weight: 400;
    font-size: 11px;
    line-height: 150%;
    color: #000;

}

.about{
    background: #fafafa;
    padding-bottom: 100px;
}

.about_title{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.about_subtitle{
    text-align: center;
    padding-top: 92px;
    font-weight: 400;
    font-size: 45px;
    color: #000;
    padding-bottom: 19px;   
}

.about_text{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #666;
    max-width: 682px;
    text-align: center;
    
}

.about_tables{
    padding-top: 55px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 30px;
    
}
.about_info{
    background: #fff;
    max-width: 370px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about_info_subtitle{
    margin-top: 25px;
    font-weight: 400;
    font-size: 24px;
    color: #000;
}

.about_info_text{
    margin-top: 22px;
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
    text-align: center;
    color: #aaa;
}

.button{
    margin-top: 39px;
    box-shadow: 4px 4px 8px 0 rgba(242, 88, 34, 0.2);
    background: #f25822;    
    border-radius: 50px;
    width: 150px;
    height: 50px;
    font-weight: 400;
    font-size: 13px;
    line-height: 150%;
    text-align: center;
    color: #fff;
    margin-bottom: 50px;
}